@model Admin_Dashboard.Models.Customer

@{
    ViewData["Title"] = "Edit Customer";
    ViewBag.pagename = " Edit customer";
}

<partial name="_Banner" />

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-info text-white">
            <h3 class="mb-0">Edit Customer</h3>
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" />


                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="FName" class="form-label"></label>
                        <input asp-for="FName" class="form-control" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="LName" class="form-label"></label>
                        <input asp-for="LName" class="form-control" />
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Age" class="form-label"></label>
                    <input asp-for="Age" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="City" class="form-label"></label>
                        <input asp-for="City" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Street" class="form-label"></label>
                        <input asp-for="Street" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Government" class="form-label"></label>
                        <input asp-for="Government" class="form-control" />
                    </div>
                </div>

                <h5 class="mt-4 text-secondary">Phone Numbers</h5>
                <div class="mb-3">
                    @for (int i = 0; i < Model.UserPhones.Count; i++)
                    {
                        var phone = Model.UserPhones.ElementAt(i);
                        <div class="input-group mb-2">
                            <span class="input-group-text">Phone @(i + 1)</span>
                            <input name="UserPhones[@i].PhoneNumber" class="form-control" value="@phone.PhoneNumber" />
                            <input type="hidden" name="UserPhones[@i].UserId" value="@phone.UserId" />
                        </div>
                    }
                </div>

                <div class="d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left-circle"></i> Back to List
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Save Changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
