@{
    ViewBag.Title = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delete</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class="p-4">

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger text-center">@ViewBag.ErrorMessage</div>
    }

    <div class="text-center mt-3">
        <a asp-action="All" asp-controller="category" class="btn btn-secondary">Back</a>
    </div>

</body>
</html>
