@model Category
@{
    ViewBag.Title = "Category";
    ViewBag.pagename = "Category";
}
<partial name="_Banner" />
<section class="container my-5">
    <div class="card shadow-lg mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <h1 class="fw-bold fs-2 text-center mb-4">Category Detail</h1>
            <p class="card-text text-2xl mb-2"><strong>Status:</strong> @Model.Name.ToString()</p>

            <a asp-action="All" class="btn w-100 text-white" style="background-color:#262e39;">← Back to List</a>
        </div>
    </div>
</section>

